
/* mostly taken from https://github.com/FerusAndBeyond/python-dividend-dashboard*/

html, body {
    overflow-x: hidden;
    width: 100%;
    background-color: #FFFFFF !important;
}

/* need to make sure to keep these in sync with colors.py */
:root {
  --primary: #6A00F4;
  --secondary: #532B88;
  --accent: #BC00DD;
  --error: #ff0033;
  --info: #E500A4;
  --success: #506d21;
  --warning: #FFB600;
  --surface: #808080;
  --background: #FF00FF;
  --light:  #0000FF;
  --dark: #00FF00;

  --on-primary: #FFFFFF;
  --on-surface: #000000;
  
  }

  @font-face {
    font-family: LogoFont;
    src: local("Sixtyfour-Regular"), url("./Sixtyfour-Regular.ttf"), 
  }

  @font-face {
    font-family: mySevenSegDisplay;
    src: local("Gameplay"), url("./Gameplay.ttf"), 
  }

a {
    text-decoration: none;
  }

/* remove solara watermark */
.v-application--wrap > :nth-child(2) > :nth-child(2) {
  visibility: hidden;
}

.main-container {
    background-color: var(--surface) !important;
    padding: 2px;
    margin: 2px;
  }


.active
{
  border: 2px solid var(--primary);
}

.button {
  text-decoration: none;
  font-weight: 600;
  color: var(--on-primary) !important;
  background-color: var(--primary) !important;
  height: 40px !important;
  margin: 4px !important;
  padding: 8px !important;
}

.button:hover {
  color: var(--on-primary) !important;
  background-color: var(--secondary) !important;
}


.myprimary {
  color: var(--on-primary) !important;
  background-color: var(--primary) !important;
}
.myprimary:hover {
  color: var(--on-primary) !important;
  background-color: var(--dark) !important;
}

.myprimary-inverted {
  color: var(--primary) !important;
  background-color: var(--on-primary) !important;
}


.mywarning {
  color: var(--on-warning) !important;
  background-color: var(--warning) !important;
}

.myerror {
  color: var(--on-error) !important;
  background-color: var(--error) !important;
}

.mysurface {
  color: var(--on-surface) !important;
  background-color: var(--surface) !important;
}

.mybackground {
  color: var(--on-background) !important;
  background-color: var(--background) !important;
}

.info-chip {
  color: var(--on-primary) !important;
  background-color: var(--primary) !important;
  font-weight: 500;

}

.video-info-text {
  color: var(--primary) !important;

  font-size: 1em;
  font-weight: 500;
  padding: 0.25em;
  margin: 0.25em;
}

.medium-timer {
  font-family: mySevenSegDisplay;
  font-size: 1em;
  padding: 0.125em;
  color: var(--on-primary);
  background-color: var(--primary);
  text-align: center;
}
.seven-seg {
  font-family: mySevenSegDisplay;
  font-size: 1.75em;
  padding: 0.25em;
  color: var(--on-primary);
  background-color: var(--primary);
  text-align: center;
}

/* adding on 9/25/2024 for version number in appbar */
.version-number {
  font-size: 1em;
  padding: 0.25em;
  margin-left: 1em;
  color: var(--on-primary);
  text-align: center;
}

/* adding on 10/25/24 for new form styles */

/* Login form styling */
/* should migrate this to all controls */
.login_form {
  width: 100%;
  max-width: 435px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
  font-size: 20px;
  text-align: center;
}

/* Google & Apple button styling */

.login_form .login_option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.login_form .login_option .option {
  width: calc(100% / 2 - 12px);
}

.login_form .login_option .option a {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #f8f8fb;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  margin: 34px 0 24px 0;
  text-decoration: none;
  color: #171645;
  font-weight: 500;
  transition: 0.2s ease;
}

.login_form .login_option .option a:hover {
  background: #ededf5;
  border-color: #626cd6;
}

.login_form .login_option .option a img {
  max-width: 25px;
}

.login_form p {
  text-align: center;
  font-weight: 500;
}

.login_form .separator {
  position: relative;
  margin-bottom: 24px;
}

/* Login option separator styling */
.login_form .separator span {
  background: #fff;
  z-index: 1;
  padding: 0 10px;
  position: relative;
}

.login_form .separator::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background: #c2c2c2;
  display: block;
}

form .input_box label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Input field styling */
form .input_box input {
  width: 100%;
  height: 57px;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  outline: none;
  background: #f8f8fb;
  font-size: 17px;
  padding: 0px 20px;
  margin-bottom: 25px;
  transition: 0.2s ease;
}

form .input_box input:focus {
  border-color: #626cd6;
}

form .input_box .password_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

form .input_box {
  position: relative;
}