
/* mostly taken from https://github.com/FerusAndBeyond/python-dividend-dashboard*/

html, body {
    overflow-x: hidden;
    width: 100%;
    background-color: #FFFFFF !important;
}

/* need to make sure to keep these in sync with colors.py */
:root {
  --light:  #c8b1e4;
  --primary: #9b72cf;
  --dark: #532b88;
  --surface: #808080;
  --background: #F0FF0F;
  --error: #00B020;
  --warning: #FFC107;
  --on-light: #000000;
  --on-primary: #FFFFFF;
  --on-dark: #FFFFFF;
  }

  @font-face {
    font-family: LogoFont;
    src: local("Sixtyfour-Regular"), url("./Sixtyfour-Regular.ttf"), 
  }

  @font-face {
    font-family: mySevenSegDisplay;
    src: local("Gameplay"), url("./Gameplay.ttf"), 
  }

a {
    text-decoration: none;
  }

.main-container {
    background-color: var(--surface) !important;
    padding: 20px;
    min-height: 80vh;
    height: 100%;
  }

/* remove solara watermark */
.v-application--wrap > :nth-child(2) > :nth-child(2) {
    visibility: hidden;
}


.button {
  text-decoration: none;
  font-weight: 600;
  color: var(--on-dark) !important;
  background-color: var(--dark) !important;
  height: 40px !important;
  margin: 4px !important;
  padding: 8px !important;
}

.myprimary {
  color: var(--primary) !important;
}

.myprimary-invert {
  color: var(--on-primary) !important;
  background-color: var(--primary) !important;
}

.mydark {
  color: var(--on-dark) !important;
  background-color: var(--dark) !important;
}

.mylight {
  color: var(--on-light) !important;
  background-color: var(--light) !important;
}

.info-chip {
  color: var(--on-primary) !important;
  background-color: var(--primary) !important;
  font-weight: 500;

}


.medium-timer {
  font-family: mySevenSegDisplay;
  font-size: 1em;
  padding: 0.25em;
  color: var(--on-primary);
  background-color: var(--primary);
  text-align: center;
}



